In [33]:
from datetime import datetime
import pandas as pd

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2020, 6, 8, 20, 6, 1, 74708)

In [4]:
now.year, now.month, now.day

(2020, 6, 8)

In [7]:
delta = datetime(2019, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [8]:
delta

datetime.timedelta(days=3848, seconds=56700)

In [9]:
delta.days

3848

In [10]:
from datetime import timedelta

In [11]:
start = datetime(2011, 1, 7)

In [12]:
 start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [14]:
stamp = datetime(2011, 1, 3)

In [15]:
str(stamp)

'2011-01-03 00:00:00'

In [21]:
stamp.strftime('%Y-%m-%d-%w-%W-%z')

'2011-01-03-1-01-'

In [22]:
value = '2011-01-03'

In [23]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
datestrs = ['7/6/2011', '8/6/2011']

In [25]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [26]:
from dateutil.parser import parse

In [27]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [28]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [30]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [31]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [34]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [37]:
datestrs

['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [35]:
idx = pd.to_datetime(datestrs + [None])

In [36]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [39]:
 dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),datetime(2011, 1, 7), datetime(2011, 1, 8),
datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [41]:
import numpy as np
ts = pd.Series(np.random.randn(6), index=dates)

In [42]:
ts

2011-01-02    0.295212
2011-01-05   -1.146438
2011-01-07    0.172782
2011-01-08    0.579249
2011-01-10    0.185579
2011-01-12    0.324566
dtype: float64

In [43]:
 ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [48]:
ts[::2]

2011-01-02    0.295212
2011-01-10    0.185579
dtype: float64

In [44]:
 ts + ts[::2]

2011-01-02    0.590424
2011-01-05         NaN
2011-01-07    0.345564
2011-01-08         NaN
2011-01-10    0.371158
2011-01-12         NaN
dtype: float64

In [49]:
ts.index.dtype

dtype('<M8[ns]')

In [51]:
stamp = ts.index[2]

In [52]:
ts[stamp]

0.17278191566911016

In [53]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))

In [54]:
longer_ts

2000-01-01   -0.773358
2000-01-02   -1.640507
2000-01-03   -0.659399
2000-01-04    1.855471
2000-01-05   -0.514212
                ...
2002-09-22    0.598003
2002-09-23    0.378272
2002-09-24    0.209328
2002-09-25   -0.694055
2002-09-26   -1.206715
Freq: D, Length: 1000, dtype: float64

In [55]:
longer_ts['2001']

2001-01-01   -0.828435
2001-01-02   -0.287264
2001-01-03   -1.721640
2001-01-04   -1.825831
2001-01-05    1.344825
                ...
2001-12-27    0.071762
2001-12-28    0.881095
2001-12-29    0.358386
2001-12-30   -0.920571
2001-12-31   -0.073305
Freq: D, Length: 365, dtype: float64

In [56]:
longer_ts['2001-05']

2001-05-01    0.269788
2001-05-02   -0.292059
2001-05-03    1.318797
2001-05-04    0.136071
2001-05-05   -0.454297
2001-05-06   -0.905340
2001-05-07   -0.711126
2001-05-08    0.708261
2001-05-09    1.549528
2001-05-10   -0.705202
2001-05-11   -0.359568
2001-05-12    0.908445
2001-05-13   -1.009690
2001-05-14   -0.461009
2001-05-15   -1.116566
2001-05-16   -0.412584
2001-05-17   -0.656427
2001-05-18   -1.722118
2001-05-19   -0.596028
2001-05-20    0.101788
2001-05-21   -0.064939
2001-05-22   -0.095351
2001-05-23   -0.845364
2001-05-24    0.504882
2001-05-25    0.497984
2001-05-26   -0.174535
2001-05-27    0.447116
2001-05-28    0.498517
2001-05-29   -0.446648
2001-05-30    0.139268
2001-05-31   -1.024136
Freq: D, dtype: float64

In [57]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.172782
2011-01-08    0.579249
2011-01-10    0.185579
2011-01-12    0.324566
dtype: float64

In [58]:
ts.truncate(after='1/9/2011')

2011-01-02    0.295212
2011-01-05   -1.146438
2011-01-07    0.172782
2011-01-08    0.579249
dtype: float64

In [59]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [60]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [61]:
long_df = pd.DataFrame(np.random.randn(100, 4),
 index=dates,
 columns=['Colorado', 'Texas',
 'New York', 'Ohio'])

In [62]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  2.500793  0.412391  1.089396 -1.253425
2001-05-09  0.715274 -0.509020  0.238268  0.379036
2001-05-16 -0.822364 -1.693543 -0.633654 -0.328179
2001-05-23 -1.910755 -0.979861  1.383220 -1.072193
2001-05-30 -0.109911  0.805574 -1.476698  0.309281

In [63]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000','1/2/2000', '1/3/2000'])

In [64]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [65]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [66]:
dup_ts.index.is_unique

False

In [67]:
dup_ts['1/3/2000']

4

In [68]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [69]:
grouped = dup_ts.groupby(level=0)

In [70]:
 grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [72]:
ts

2011-01-02    0.295212
2011-01-05   -1.146438
2011-01-07    0.172782
2011-01-08    0.579249
2011-01-10    0.185579
2011-01-12    0.324566
dtype: float64

In [73]:
resampler = ts.resample('D')

In [76]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [77]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [78]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [79]:
 pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range('2000-01-01', periods=200, freq='W-MON')

DatetimeIndex(['2000-01-03', '2000-01-10', '2000-01-17', '2000-01-24',
               '2000-01-31', '2000-02-07', '2000-02-14', '2000-02-21',
               '2000-02-28', '2000-03-06',
               ...
               '2003-08-25', '2003-09-01', '2003-09-08', '2003-09-15',
               '2003-09-22', '2003-09-29', '2003-10-06', '2003-10-13',
               '2003-10-20', '2003-10-27'],
              dtype='datetime64[ns]', length=200, freq='W-MON')

In [83]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [84]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [85]:
from pandas.tseries.offsets import Hour, Minute

In [86]:
hour = Hour()

In [87]:
hour

In [88]:
four_hours = Hour(4)

In [89]:
four_hours

In [90]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [91]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [92]:
 rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [94]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [95]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [96]:
ts

2000-01-31    0.685388
2000-02-29   -0.660179
2000-03-31   -0.018036
2000-04-30    1.296052
Freq: M, dtype: float64

In [98]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.685388
2000-04-30   -0.660179
Freq: M, dtype: float64

In [99]:
ts.shift(-2)

2000-01-31   -0.018036
2000-02-29    1.296052
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [100]:
ts / ts.shift(1) - 1

2000-01-31          NaN
2000-02-29    -1.963219
2000-03-31    -0.972680
2000-04-30   -72.859165
Freq: M, dtype: float64

In [101]:
ts.shift(2, freq='M')

2000-03-31    0.685388
2000-04-30   -0.660179
2000-05-31   -0.018036
2000-06-30    1.296052
Freq: M, dtype: float64

In [102]:
ts.shift(3, freq='D')

2000-02-03    0.685388
2000-03-03   -0.660179
2000-04-03   -0.018036
2000-05-03    1.296052
dtype: float64

In [103]:
 from pandas.tseries.offsets import Day, MonthEnd
 now = datetime(2011, 11, 17)
 now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [104]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [106]:
now

datetime.datetime(2011, 11, 17, 0, 0)

In [108]:
offset = MonthEnd()

In [109]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [110]:
 offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [111]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [112]:
ts

2000-01-15   -0.562741
2000-01-19    0.657270
2000-01-23   -1.182243
2000-01-27   -0.814015
2000-01-31   -0.348299
2000-02-04    0.784457
2000-02-08   -0.019911
2000-02-12   -0.705128
2000-02-16   -0.632146
2000-02-20   -0.306070
2000-02-24   -0.003071
2000-02-28   -0.630641
2000-03-03   -1.502580
2000-03-07   -0.085485
2000-03-11    0.226363
2000-03-15    0.519989
2000-03-19    0.333367
2000-03-23    0.772866
2000-03-27   -0.348007
2000-03-31    1.947852
Freq: 4D, dtype: float64

In [113]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.450006
2000-02-29   -0.216073
2000-03-31    0.233046
dtype: float64

In [114]:
import pytz

In [116]:

pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [117]:
tz = pytz.timezone('America/New_York')